stages:
  - build
  - test
  - deploy

variables:
  CI_IMAGE: "node:20-bookworm"
  GITHUB_PAGES_REPO: "git@github.com:yangirov/keenetic-geosite-sync.git"

build_ipk:
  image: $CI_IMAGE
  stage: build
  before_script:
    - apt-get update
    - apt-get install -y --no-install-recommends ca-certificates
  script:
    - chmod +x opkg/build.sh
    - ./opkg/build.sh
  artifacts:
    paths:
      - build/out/*.ipk
    expire_in: 1 week

smoke_openwrt_x86:
  image: docker:27
  stage: test
  services:
    - docker:27-dind
  variables:
    DOCKER_TLS_CERTDIR: "/certs"
  dependencies:
    - build_ipk
  before_script:
    - apk add --no-cache docker-cli
  script:
    - PKG=$(ls build/out/*.ipk | head -n1)
    - docker run --rm -v "$PWD/$PKG":/tmp/pkg.ipk openwrt/rootfs sh -c "opkg update && opkg install /tmp/pkg.ipk || opkg install --nodeps /tmp/pkg.ipk"
  rules:
    - if: '$CI_COMMIT_BRANCH'

publish_pages:
  image: debian:12
  stage: deploy
  needs:
    - build_ipk
  dependencies:
    - build_ipk
  rules:
    - if: '$GH_PAGES_DEPLOY_KEY'
  before_script:
    - apt-get update
    - apt-get install -y --no-install-recommends ca-certificates git openssh-client opkg-utils
    - mkdir -p ~/.ssh
    - echo "$GH_PAGES_DEPLOY_KEY" | tr -d '\r' | base64 -d > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - ssh-keyscan github.com >> ~/.ssh/known_hosts
  script:
    - rm -rf public && mkdir -p public/all
    - cp build/out/*.ipk public/all/
    - opkg-make-index public/all > public/all/Packages
    - gzip -9fk public/all/Packages
    - git config --global user.name "CI"
    - git config --global user.email "ci@example.com"
    - git clone --branch gh-pages "$GITHUB_PAGES_REPO" gh-pages || (git clone "$GITHUB_PAGES_REPO" gh-pages && cd gh-pages && git checkout --orphan gh-pages)
    - cd gh-pages
    - rm -rf ./*
    - cp -r ../public/* .
    - git add -A
    - git commit -m "Update repo from CI ${CI_PIPELINE_ID}" || echo "No changes to commit"
    - git push origin gh-pages
